@media only screen and (max-width: 600px) {
    * {
        text-decoration: none;
        list-style: none;
    }

    a {
        text-decoration: none;
        color: aliceblue;
    }

    body {
        background-color:rgb(30, 30, 30);
        color: white;
    }

    /********************** Header ***********************/

    header {
        display: flex;
        background-color: red;
        width: 100%;
        font-size: 50%;
    }

    .navheader {
        display: flex;
        justify-content: space-between;
        /* align-items:flex-end; */
        width: 100%;
    }

    .navico {
        
        display: flex;
        
        width: 50%;
        gap: 10px;
        
    }

    body {
        background-color: black;
    }

    h2 {
        margin: 10%;
        font-family: 'Montserrat', sans-serif;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        margin: 5%;
        gap: 1%;
    }

    .card {
        display: grid;
        position: relative;
        grid-template-columns: 1fr;
        width: 90%;
        margin: 0;
    }
    
    .card img {
        max-width: 100%;
        display: block;
        border-radius: 10px 10px 0px 0px;
    }

    .panier {
        /* display: grid; */
        /* height: 100%; */
        background-color: gray;
        justify-content: space-between;
        width: 100%;
        border-radius: 0 0 10px 10px;

    }

    .btnPanier {
        box-shadow: 1px 1px 1px black;
    }

    .btn-prix {
        display: flex;
        justify-content: space-between;
        width: 95%;
        border-radius: 7px;
        box-shadow: rgb(61, 16, 16);
        
    }



    h5 {
        display: block;
        font-size: 0.60em;
        /* margin-block-start: 1.67em; */
        /* margin-block-end: 1.67em; */
        /* margin-inline-start: 0px; */
        /* margin-inline-end: 0px; */
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
    }

    a {
       text-decoration: none;
       border: 0px;
       background-color: brown;
       border-radius:  5px;
       box-shadow: 10px rgba(28, 12, 12, 0.216);
    }
}